@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Trispace:wght@100&display=swap');
/*font-family: 'Rubik Vinyl', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Shadows+Into+Light&family=Trispace:wght@100&display=swap');
/*font-family: 'Shadows Into Light', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Shadows+Into+Light&family=Trispace:wght@100&family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');
/*font-family: 'Yanone Kaffeesatz', sans-serif;*/


::-webkit-scrollbar {
    background-color: #0000007d;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccccc;
}
