@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Trispace:wght@100&display=swap');
/*font-family: 'Rubik Vinyl', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Shadows+Into+Light&family=Trispace:wght@100&display=swap');
/*font-family: 'Shadows Into Light', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Shadows+Into+Light&family=Trispace:wght@100&family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');
/*font-family: 'Yanone Kaffeesatz', sans-serif;*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7d7d7d;
}

::-webkit-scrollbar {
    background-color: #0000007d;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #1e2a307d;
}

#nav-container {
    background-color: #1e2a30cc;
    backdrop-filter: blur(20px);
    border-color: #0000007d;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    position: fixed;
    left: calc(var(--vw,1vw) * -31);
    width: calc(var(--vw,1vw) * 30);
    height: calc(var(--vh, 1vh) * 100);
}

#nav-container-active {
    background-color: #1e2a30cc;
    backdrop-filter: blur(20px);
    border-color: #0000007d;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    position: fixed;
    left: calc(var(--vw,1vw) * 0);
    width: calc(var(--vw,1vw) * 30);
    height: calc(var(--vh, 1vh) * 100);
}

#hamburger {
    position: relative;
    left: calc(var(--vw,1vw) * 32);
    top: calc(var(--vh, 1vh) * 1);
    color: #1e2a70;
    
    padding-top: calc(var(--vh, 1vh) * 2);
    padding-bottom: calc(var(--vh, 1vh) * 2);
    width: fit-content;
    font-size: calc(var(--vwh, 1vh) * 4);
}

#hamburger:hover {
    cursor: pointer;
}
